.internal-card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--medium-light-blue);
    border-radius: 10px;
}
.message {
    color: #fff;
    padding: 0 2vh;
    text-align: center;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
