@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    --dark-blue: #00457e;
    --deep-blue: #2e5e8c;
    --moderate-blue: #527da9;
    --light-blue: #779cc6;
    --medium-light-blue: #4d789e;
    --very-light-blue: #a1bbd9;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media (max-width: 500px) {
        align-items: start;
    }
}
.app {
    aspect-ratio: 1/1;
    width: 80vh;
    background-color: var(--moderate-blue);
    border-radius: 20px;
    padding: 3vh;

    @media (max-width: 500px) {
        min-height: 100vh;
        width: calc(100vw - 4vh);
        padding: 2vh;
        border-radius: 0;
    }

    box-shadow: 0 0 200px #2b1800;
}
.internal-card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--medium-light-blue);
    border-radius: 10px;
}
